*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
body {
    background-color: rgb(239, 214, 56)
}

.form {
    border: solid rgb(42, 71, 165) 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 5px;
    
}
.input {
    margin: 5px;
    padding: 5px;
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}

.cadastrar {
    background-color: rgb(133, 211, 133);
    color: black;
    width: 210px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.voltar {
    margin: 50px;
    background-color: rgb(179, 226, 179);
    color: black;
    width: 80px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}