*{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
body {
    background-color: rgb(239, 214, 56)
}
.botao {
    background-color: rgb(133, 211, 133);
    color: black;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}